@import "variables";

@mixin above($point) {
  @if $point == sm {
    @media (min-width: #{$breakpoint-sm}) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: #{$breakpoint-md}) {
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: #{$breakpoint-lg}) {
      @content;
    }
  }
  @if $point == xl {
    @media (min-width: #{$breakpoint-xl}) {
      @content;
    }
  }
  @if $point == 2xl {
    @media (min-width: #{$breakpoint-2xl}) {
      @content;
    }
  }
  @if $point == 3xl {
    @media (min-width: #{$breakpoint-3xl}) {
      @content;
    }
  }
  @if $point == 4xl {
    @media (min-width: #{$breakpoint-4xl}) {
      @content;
    }
  }
}

@mixin below($point) {
  @if $point == sm {
    @media (max-width: #{$breakpoint-sm - 1}) {
      @content;
    }
  }
  @if $point == md {
    @media (max-width: #{$breakpoint-md - 1}) {
      @content;
    }
  }
  @if $point == lg {
    @media (max-width: #{$breakpoint-lg - 1}) {
      @content;
    }
  }
  @if $point == xl {
    @media (max-width: #{$breakpoint-xl - 1}) {
      @content;
    }
  }
  @if $point == 2xl {
    @media (max-width: #{$breakpoint-2xl - 1}) {
      @content;
    }
  }
  @if $point == 3xl {
    @media (max-width: #{$breakpoint-3xl - 1}) {
      @content;
    }
  }
  @if $point == 4xl {
    @media (max-width: #{$breakpoint-4xl - 1}) {
      @content;
    }
  }
}
