.advantages {
  --minh: 300px;

  padding-top: 96px;
  padding-bottom: 96px;

  @include below(xl) {
    --minh: 244px;
  }

  @include below(md) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.advantages__title {
  margin-bottom: 1.5em;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #333;
}

.advantages-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @include below(md) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.advantages-equipment {
  background: url("../images/advantages-equipment.png") no-repeat 50% 50%;
  background-size: cover;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: calc(var(--minh) * 2);

  @include below(md) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.advantages-equipment__body {
  width: 50%;
  height: 50%;
  background: #efefef;
  padding: 48px;

  @include below(xl) {
    width: 100%;
    padding: 40px;
  }
}

.advantages-equipment__title {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 1em;

  strong {
    font-weight: 500;
  }
}

.advantages-equipment__desc {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  line-height: 1.5;

  strong {
    font-weight: 500;
  }
}

.advantages-assortment {
  background: #f6f6f6;
  padding: 48px;
  min-height: var(--minh);
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  @include below(xl) {
    padding: 40px;
  }

  @include below(lg) {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  @include below(md) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.advantages-assortment::after {
  content: "";
  width: 96px;
  height: 96px;
  display: block;
  background: url("../images/advantages-assortment.png") no-repeat 50% 50%;
  background-size: contain;

  @include below(xl) {
    width: 80px;
    height: 80px;
  }
}

.advantages-assortment__title {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 1em;

  strong {
    font-weight: 500;
  }
}

.advantages-schedule {
  background: #efefef;
  padding: 48px;
  min-height: var(--minh);
  grid-column: 4 / 5;
  grid-row: 1 / 2;

  @include below(xl) {
    padding: 40px;
  }

  @include below(lg) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }

  @include below(md) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.advantages-schedule__title {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 1em;

  strong {
    font-weight: 500;
  }
}

.advantages-control {
  padding: 48px;
  background: url("../images/advantages-control.png") no-repeat 50% 50%;
  background-size: cover;
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  min-height: var(--minh);

  @include below(xl) {
    padding: 40px;
  }
  @include below(lg) {
    grid-column: 1 / 5;
  }

  @include below(md) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

.advantages-control__title {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 1em;

  strong {
    font-weight: 500;
  }
}
