.advantages {
  padding-top: 96px;
  padding-bottom: 96px;

  @include below(md) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.advantages__title {
  margin-bottom: 1.5em;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #333;
}

.advantages-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25%;
}

.advantages-equipment {
  background: url("../images/advantages-equipment.png") no-repeat 50% 50%;
  background-size: cover;
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.advantages-equipment__body {
  width: 50%;
  height: 50%;
  background: #efefef;
  padding: 48px;
}

.advantages-equipment__title {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 1em;

  strong {
    font-weight: 500;
  }
}

.advantages-equipment__desc {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  line-height: 1.5;

  strong {
    font-weight: 500;
  }
}

.advantages-assortment {
  background: #f6f6f6;
  padding: 48px;
}

.advantages-assortment::after {
  content: "";
  width: 96px;
  height: 96px;
  display: block;
  background: url("../images/advantages-assortment.png") no-repeat 50% 50%;
  background-size: contain;
}

.advantages-assortment__title {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 1em;

  strong {
    font-weight: 500;
  }
}

.advantages-schedule {
  background: #efefef;
  padding: 48px;
}

.advantages-schedule__title {
  font-size: 24px;
  font-weight: 300;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 1em;

  strong {
    font-weight: 500;
  }
}

.advantages-control {
  padding: 48px;
  background: url("../images/advantages-control.png") no-repeat 50% 50%;
  background-size: cover;
  grid-column: span 2;
}

.advantages-control__title {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 1em;

  strong {
    font-weight: 500;
  }
}
