@import "responsive";
@import "fonts";
@import "icons";
@import "header";
@import "footer";
@import "modal";
@import "articles";
@import "page";
@import "content";
@import "team";
@import "certificates";
@import "partners";
@import "intro";
@import "products";
@import "advantages";
@import "photogallery";
@import "services";
@import "geography";
@import "news";
@import "feedback";

:root {
  --container-width: 1280px;
  --container-padding: 40px;
  --header-height: 112px;

  @include below(xl) {
    --container-width: 1024px;
    --container-padding: 24px;
  }

  @include below(lg) {
    --container-width: 768px;
    --container-padding: 16px;
    --header-height: 100px;
  }

  @include below(md) {
    --container-width: 100%;
    --container-padding: 12px;
    --header-height: 80px;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #ffffff;

  text-wrap: pretty;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  padding: 64px 0;

  // @include below(lg) {
  //   padding: 48px 0;
  // }
  @include below(md) {
    padding: 48px 0;
  }
}

.button-primary {
  background: #f18b3a;
  border: none;
  height: 56px;
  overflow: hidden;
  font-size: 18px;
  width: 100%;
  padding: 0 24px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: 0.025em;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease;

  @include below(md) {
    font-size: 16px;
  }
}

.button-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 24px;
  height: calc(100% + 8px);
  opacity: 0;
  transition: 0.3s ease;
  transform: rotate(-45deg);
  background: #db9157;
  transform-origin: 0% 0%;
}

.button-primary::after {
  content: "";
  bottom: 0;
  position: absolute;
  left: 100%;
  width: 24px;
  height: calc(100% + 8px);
  opacity: 0;
  transition: 0.3s ease;
  transform: rotate(45deg);
  background: #db9157;
  transform-origin: 0% 100%;
}

.button-primary:hover {
  background: #d87d34;
}

.button-primary:hover::after {
  opacity: 1;
  left: calc(100% - 72px);
}

.button-primary:hover::before {
  opacity: 1;
  left: calc(100% - 72px);
}

.input-field {
}

.input-field__label {
  display: block;
  font-size: 16px;
  line-height: 1.2;
  color: #272935;
  margin-bottom: 4px;
}

.input-field__input {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  line-height: 1.2;
  color: #272935;
  width: 100%;
  display: block;
  border: 2px solid #e7e7e7;
}

.input-field__textarea {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 13px 0px rgba(133, 133, 189, 0.17);
  padding: 16px;
  font-size: 14px;
  line-height: 1.2;
  color: #272935;
  width: 100%;
  display: block;
}

.more-link {
  --text-color: #333333;
  --bg-color: #c0d2ff;

  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
}

.more-link span:nth-child(1) {
  position: relative;
  z-index: 1;
}

.more-link span:nth-child(1)::after {
  content: "";
  position: absolute;
  left: -6px;
  bottom: 0;
  right: -6px;
  height: 0;
  background: var(--bg-color);
  transition: 0.3s ease;
  z-index: -1;
}

.more-link:hover span:nth-child(1)::after {
  height: 11px;
}

.more-link span:nth-child(2) {
  position: relative;
  width: 16px;
  height: 16px;
  color: currentColor;
  opacity: 0.5;
  transition: 0.3s ease;
}

.more-link:hover span:nth-child(2) {
  opacity: 1;
}

.more-link span:nth-child(2)::before {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 7px;
  background: currentColor;
  transition: 0.3s ease;
}

.more-link:hover span:nth-child(2)::before {
  width: 24px;
}

.more-link span:nth-child(2)::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 5px;
  top: 3px;
  position: absolute;
  transform: rotate(-45deg);
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  opacity: 0.5;
  transition: 0.3s ease;
}

.more-link:hover span:nth-child(2)::after {
  left: 13px;
  opacity: 1;
}

.flat-input {
  --text-color: #fff;

  font-size: 18px;
  color: var(--text-color);
  height: 56px;
  border: none;
  border-bottom: 2px solid var(--text-color);
  background: transparent;
  padding: 0;
  min-width: 0;
}

.flat-input::placeholder {
  color: var(--text-color);
}

.btn-arrow-left,
.btn-arrow-right {
  font-size: 18px;
  color: #d3d3d3;
  font-weight: bold;
  line-height: 2;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  text-decoration: none;
}

.btn-arrow-left:hover,
.btn-arrow-right:hover {
  color: rgb(116, 116, 116);
}

.btn-arrow-right span:nth-child(2) {
  width: 0;
  height: 20px;
  position: relative;
}

.btn-arrow-right span:nth-child(2)::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: -12px;
  transform: rotate(-45deg);
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transition: 0.3s ease;
}

.btn-arrow-right:hover span:nth-child(2)::after {
  left: 44px;
}

.btn-arrow-right span:nth-child(2)::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  top: 9px;
  left: 0;
  background: currentColor;
  transition: 0.3s ease;
}

.btn-arrow-right:hover span:nth-child(2)::before {
  width: 56px;
}

.btn-arrow-left span:nth-child(1) {
  width: 0;
  height: 20px;
  position: relative;
}

.btn-arrow-left span:nth-child(1)::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  right: -12px;
  transform: rotate(45deg);
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transition: 0.3s ease;
}

.btn-arrow-left:hover span:nth-child(1)::after {
  right: 44px;
}

.btn-arrow-left span:nth-child(1)::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  top: 9px;
  right: 0;
  background: currentColor;
  transition: 0.3s ease;
}

.btn-arrow-left:hover span:nth-child(1)::before {
  width: 56px;
}

.slider-nav {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  align-items: center;

  @include below(lg) {
    right: 24px;
  }
  @include below(md) {
    gap: 24px;
    right: 16px;
    top: -32px;
  }
}

.slider-nav__prev,
.slider-nav__next {
  font-size: 14px;
  color: rgb(116, 116, 116);
  font-weight: bold;
  line-height: 1.2;
  border: none;
  display: inline-flex;
  align-items: center;
  position: relative;
  background: transparent;
  padding: 0;
  cursor: pointer;
  &:hover {
    color: rgb(241, 139, 58);
  }
  &.swiper-button-disabled {
    // display: none;
    color: #d3d3d3;
    &:hover {
      color: #d3d3d3;
    }
  }
}

.slider-nav__prev::before {
  content: "";
  transform: rotate(-45deg);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-left: 2px solid currentColor;
  border-top: 2px solid currentColor;
  margin-right: 8px;
}

.slider-nav__next::before {
  content: "";
  display: block;
  height: 2px;
  width: 54px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: currentColor;

  @include below(md) {
    display: none;
  }
}

.slider-nav__next::after {
  content: "";
  transform: rotate(45deg);
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  margin-left: 54px;

  @include below(md) {
    margin-left: 8px;
  }
}

.container {
  width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-nav__close {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 44px;
  height: 44px;
  background: rgba(0, 0, 0, 0.2);
  border: none;

  @include below(md) {
    display: block;
  }
}

.main-nav__close::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  left: 50%;
  top: 50%;
  transform: rotate(-45deg) translate(-50%, -50%);
  transform-origin: 0 0;
}

.main-nav__close::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  left: 50%;
  top: 50%;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: 0 0;
}

.main-nav {
  @include below(md) {
    display: none;
    padding-top: 64px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
  }
}

.main-nav_opened {
  @include below(md) {
    display: block;
  }
}

.main-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.37);

  @include below(lg) {
    width: 740px;
  }
  @include below(md) {
    background: transparent;
    flex-direction: column;
    padding: 12px 24px;
    max-width: 100%;
  }
}

.main-nav > ul > li {
  margin: 0 16px;
  position: relative;

  @include below(xl) {
    margin: 0 12px;
  }
  @include below(lg) {
    margin: 0 8px;
  }
  @include below(md) {
    margin: 12px 0;
  }
}

.main-nav > ul > li:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
  box-shadow: 4.225px 7.947px 10px 0 rgba(25, 42, 70, 0.24);
}

.main-nav > ul > li > a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  line-height: 36px;
  text-transform: uppercase;
  display: inline-block;

  @include below(xl) {
    font-size: 18px;
  }
  @include below(lg) {
    font-size: 16px;
    line-height: 32px;
  }
}

.main-nav > ul > li.current-menu-item > a,
.main-nav > ul > li > a:hover {
  color: rgb(235, 138, 28);
}

.sub-menu {
  width: 300px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 12px;
  transform: translate(-50%, 8px);
  list-style: none;
  padding: 16px 0;
  border-radius: 16px;
  background: #fff;

  @include below(md) {
    visibility: visible;
    width: auto;
    opacity: 1;
    padding: 0;
    position: relative;
    margin-top: 0;
    background: transparent;
    margin-bottom: 16px;
  }
}

.sub-menu::before {
  content: "";
  height: 12px;
  left: 0;
  top: -12px;
  right: 0;
  position: absolute;
}

.sub-menu > li {
  display: block;
}

.sub-menu > li > a {
  display: block;
  line-height: 1.15;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #000;

  @include below(md) {
    color: #fff;
  }
}

.sub-menu > li > a:hover {
  background: #f5f5f5;
}

.technologies {
  position: relative;
  aspect-ratio: 1.54;

  @include below(md) {
    aspect-ratio: 1;
  }
}

.technologies::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 100vw;
  top: 0;
  bottom: 0;
  background: url("../images/technologies-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  transform: translateX(-50%);
}

.technologies__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.technologies__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 10;
  border-radius: 32px;
}

.technologies__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.technologies__title {
  font-size: 24px;
  line-height: 1.25;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: rgba(11, 72, 179, 0.64);
  border-radius: 0 0 32px 32px;

  @include below(lg) {
    font-size: 20px;
  }
  @include below(md) {
    font-size: 16px;
    padding: 16px;
  }
}

.technologies__title span {
  color: rgb(224, 111, 25);
}

.technologies__section {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  line-height: 1.2;
  z-index: 20;
  margin: 16px 132px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 32px;
  padding: 12px 24px;

  @include below(lg) {
    font-size: 20px;
    margin-left: 64px;
    margin-right: 64px;
  }
  @include below(md) {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

.technologies__section::before {
  content: "";
  background: url("../images/arrow-1.png") no-repeat 50% 50%;
  background-size: cover;
  width: 40px;
  height: 64px;
  margin-right: 16px;
  flex-shrink: 0;
  transition: all 0.3s ease;

  @include below(lg) {
    width: calc(40px * 0.8);
    height: calc(64px * 0.8);
    margin-right: 12px;
  }
  @include below(md) {
    width: 18px;
    height: 30px;
    margin-right: 8px;
  }
}

.technologies__section:hover::before {
  transform: translateX(4px);

  @include below(lg) {
    transform: translateX(4px);
  }
  @include below(md) {
    transform: translateX(4px);
  }
}

.equipment {
  margin-bottom: 128px;

  @include below(lg) {
    margin-bottom: 96px;
  }
  @include below(md) {
    margin-bottom: 64px;
  }
}

.equipment__content {
  display: flex;

  @include below(md) {
    flex-direction: column;
  }
}

.equipment__title {
  font-size: 42px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-top: 0;
  margin-bottom: 24px;

  @include below(lg) {
    font-size: 36px;
    margin-bottom: 20px;
  }
  @include below(md) {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.equipment__title span {
  color: #e06f19;
}

.equipment__description {
  color: rgb(51, 51, 51);
  font-size: 22px;
  line-height: 1.35;

  @include below(lg) {
    font-size: 18px;
  }
  @include below(md) {
    font-size: 16px;
  }
}

.equipment__image {
  margin-left: 64px;
  order: 1;
  width: 40%;
  flex-shrink: 0;
  position: relative;

  @include below(lg) {
    margin-left: 48px;
  }
  @include below(md) {
    order: -1;
    margin: 0 0 16px;
    width: 100%;
  }
}

.equipment__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.equipment__image::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 72, 179, 0.45);
}

.quality {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
  flex-wrap: wrap;

  @include below(md) {
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.quality__content {
  width: calc(60% - 64px);

  @include below(md) {
    width: 100%;
  }
}

.quality__title {
  font-size: 42px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-top: 0;
  margin-bottom: 24px;

  @include below(lg) {
    font-size: 36px;
    margin-bottom: 20px;
  }
  @include below(md) {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.quality__title span {
  color: #e06f19;
}

.quality__description {
  color: rgb(51, 51, 51);
  font-size: 22px;
  line-height: 1.35;

  @include below(lg) {
    font-size: 18px;
  }
  @include below(md) {
    font-size: 16px;
  }
}

.quality__image-after {
  position: relative;
  margin-top: 64px;
  margin-left: -48px;
  margin-right: -48px;

  @include below(lg) {
    margin-left: -36px;
    margin-right: -36px;
  }
  @include below(md) {
    margin-top: 48px;
    margin-left: -16px;
    margin-right: -16px;
  }
}

.quality__image-after img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

.quality__image-after::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 61, 66, 0.45);
}

.quality__image-after::after {
  content: "";
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 72, 179, 0.45);
}

.quality__image {
  margin-right: 64px;
  width: 40%;
  flex-shrink: 0;
  position: relative;

  @include below(lg) {
    margin-right: 48px;
  }
  @include below(md) {
    order: -1;
    margin: 0 0 16px;
    width: 100%;
  }
}

.quality__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.quality__image::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 72, 179, 0.45);
}

.documents {
  margin-top: 64px;
  display: flex;

  @include below(md) {
    margin-top: 48px;
    flex-wrap: wrap;
  }
}

.documents__cards {
  width: 40%;
  margin-right: 64px;
  display: flex;
  flex-direction: column;

  @include below(lg) {
    margin-right: 48px;
  }
  @include below(md) {
    width: 100%;
    margin-right: 0;
  }
}

.documents__card {
  background-color: #f5f5f5;
  border-radius: 16px;
  padding: 24px;
  font-size: 22px;
  line-height: 1.35;
  text-decoration: none;
  color: #000;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;

  @include below(lg) {
    padding: 16px;
    font-size: 18px;
  }
}

.documents__card_organization {
  background: url("../images/feature-2-bg.jpg") no-repeat 50% 50%;
  background-size: cover;

  .documents__card-title {
    background: linear-gradient(45deg, #fff 0, #d0e0fd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
  }
}

.documents__card_evidence {
  background-image: linear-gradient(0deg, #6e91be 0, #5a7fb1 100%);

  .documents__card-title {
    background: linear-gradient(45deg, #fff 0, #a3b8d5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
  }
}

.documents__card_certificate {
  background: url(../images/feature-4-bg.jpg) no-repeat 50% 50%;
  background-size: cover;

  .documents__card-title {
    background: linear-gradient(45deg, #fff 0, #f5d8c3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
  }
}

.documents__card:hover {
  background-color: #e9e9e9;
}

.documents__card::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 22.0002H16C18.8284 22.0002 20.2426 22.0002 21.1213 21.1215C22 20.2429 22 18.8286 22 16.0002V15.0002C22 12.1718 22 10.7576 21.1213 9.8789C20.3529 9.11051 19.175 9.01406 17 9.00195M7 9.00195C4.82497 9.01406 3.64706 9.11051 2.87868 9.87889C2 10.7576 2 12.1718 2 15.0002L2 16.0002C2 18.8286 2 20.2429 2.87868 21.1215C3.17848 21.4213 3.54062 21.6188 4 21.749' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M12 2L12 15M12 15L9 11.5M12 15L15 11.5' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 24px;
  height: 24px;
  background-size: cover;
}

* + .documents__card {
  margin-top: 24px;
}

.documents__card-title {
  font-weight: bold;
}

.documents__requisites {
  width: calc(60% - 64px);

  @include below(md) {
    width: 100%;
    margin-top: 24px;
  }
}

.requisites {
}

.requisites__title {
  font-size: 32px;
  color: #e06f19;
  margin-bottom: 24px;
  font-weight: bold;

  @include below(md) {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.requisites__content {
  color: rgb(51, 51, 51);
  font-size: 22px;
  line-height: 1.35;

  @include below(md) {
    font-size: 18px;
  }
}

.contacts {
  display: flex;
  flex-wrap: wrap;

  @include below(md) {
    flex-direction: column;
  }
}

.contacts__content {
  width: calc(60% - 64px);

  @include below(md) {
    width: 100%;
  }
}

.contacts__title {
  font-size: 42px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-top: 0;
  margin-bottom: 24px;

  @include below(lg) {
    font-size: 36px;
    margin-bottom: 20px;
  }
  @include below(md) {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.contacts__title span {
  color: #e06f19;
}

.contacts__description {
  color: rgb(51, 51, 51);
  font-size: 22px;
  line-height: 1.35;

  @include below(lg) {
    font-size: 18px;
  }
  @include below(md) {
    font-size: 16px;
  }
}

.contacts__side {
  margin-right: 64px;
  width: 40%;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include below(lg) {
    margin-right: 48px;
  }
  @include below(md) {
    order: 1;
    margin: 24px 0 0;
    width: 100%;
  }
}

.contacts__image {
  flex-grow: 1;
  position: relative;
  height: 360px;

  @include below(md) {
    order: 1;
  }
}

.contacts__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.contacts__image::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 72, 179, 0.45);
}

.primary-button {
  text-decoration: none;
  display: inline-flex;
  font-size: 12px;
  color: #fff;
  padding: 5px 24px;
  line-height: 1.25;
  border-radius: 20px;
  background: #c8c8c8;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.primary-button:hover {
  background: #e06f19;
}

.document {
}

.document__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-top: 0;
  margin-bottom: 1.5em;

  @include below(md) {
    font-size: 32px;
  }
}

.document__content {
  font-size: 22px;

  @include below(md) {
    font-size: 18px;
  }

  h2 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-top: 1.5em;
    margin-bottom: 0;

    @include below(md) {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-top: 1.5em;
    margin-bottom: 0;

    @include below(md) {
      font-size: 20px;
    }
  }

  p {
    margin: 0;
  }

  * + p {
    margin-top: 1.5em;
  }

  .wp-block-image {
    margin: 0;
  }

  * + .wp-block-image {
    margin-top: 1.5em;
  }

  .wp-block-buttons {
    margin: 0;
  }

  * + .wp-block-buttons {
    margin-top: 1.5em;
  }

  .wp-block-buttons > .wp-block-button {
    font-size: 16px;
  }
}

.main-nav > ul {
  background: none;
}

@media screen and (max-width: 768px) {
  .main-nav_opened {
    top: 40px;
    background: rgba(0, 0, 0, 0.9);
  }
  .swiper-slide {
    padding: 0;
  }
  .ui-selectmenu-button {
    z-index: 1;
  }
}

/* Tables */
.wp-block-table {
  padding: 15px 0;
}
.wp-block-table td,
.wp-block-table th {
  border: 0px solid;
  padding: 0.5em;
}
.wp-block-table thead {
  border-bottom: 1px solid;
}
.wp-block-table thead tr:nth-child(1) td {
  border: 1px solid #0035bb;
  background: #0035bb;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 44.8px */
  text-transform: uppercase;
}
.wp-block-table thead tr:nth-child(2) td {
  border-left: 0px solid #8c8c8c;
  border-right: 0px solid #8c8c8c;
  background: #d9d9d9;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}
.wp-block-table thead tr:nth-child(2) td:first-child {
  border-left: 1px solid #8c8c8c;
  border-right: 0px solid #8c8c8c;
}
.wp-block-table thead tr:nth-child(2) td:last-child {
  border-left: 0px solid #8c8c8c;
  border-right: 1px solid #8c8c8c;
}
.wp-block-table thead tr:nth-child(3) td {
  border: 0;
  background: #d9d9d9;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}
.wp-block-table thead tr:nth-child(3) td:first-child {
  border-left: 1px solid #8c8c8c;
  border-right: 0px solid #8c8c8c;
}
.wp-block-table thead tr:nth-child(3) td:last-child {
  border-left: 0px solid #8c8c8c;
  border-right: 1px solid #8c8c8c;
}

.wp-block-table tbody tr td {
  border-bottom: 1px solid;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
}
.wp-block-table tbody tr td:first-child {
  border-left: 1px solid;
}
.wp-block-table tbody tr td:last-child {
  border-right: 1px solid;
}
.wp-element-caption {
  color: #000 !important;
  font-family: Montserrat;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: left !important;
  padding: 25px 0 25px 10px;
}

@media screen and (max-width: 768px) {
  .wp-block-table tbody tr td {
    font-size: 16px;
  }
  .wp-block-table thead tr:nth-child(1) td {
    font-size: 22px;
  }
  .wp-block-table thead tr:nth-child(2) td {
    font-size: 16px;
  }
  .wp-block-table thead tr:nth-child(3) td {
    font-size: 16px;
  }
}
