.feedback {
  padding-top: 64px;
  padding-bottom: 20px;
  background: url("../images/feedback-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}

.feedback-form::before {
  content: "";
  background-color: rgb(231, 231, 231);
  position: absolute;
  width: 54px;
  height: 54px;
  right: 0;
  top: -90px;
}

.feedback-form {
  position: relative;
  padding: 48px 56px 12px;
}

.feedback-form::before {
  content: "";
  background-color: rgb(0, 53, 187);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.feedback-form__body {
  width: 860px;
  max-width: 100%;
  position: relative;
}

.feedback-form__title {
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.005em;
  color: #fff;
  margin-bottom: 16px;
  font-weight: 300;
}

.feedback-form__title::first-line {
  text-transform: uppercase;
  color: #d4e0ff;
  font-weight: 700;
}

.feedback-form__errors {
  font-size: 16px;
  color: #fff;
}

.feedback-form__errors:empty {
  display: none;
}

.feedback-form__fields {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.feedback-form__submit {
  background: #f18b3a;
  border: none;
  height: 72px;
  overflow: hidden;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: 0.025em;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease;

  @include below(md) {
    font-size: 16px;
  }
}

.feedback-form__submit::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 36px solid #db9157;
  border-left: 36px solid transparent;
  opacity: 0;
  transition: 0.3s ease;
  transform: translate(36px, -36px);
}

.feedback-form__submit::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 36px solid #db9157;
  border-left: 36px solid transparent;
  opacity: 0;
  transition: 0.3s ease;
  transform: translate(36px, 36px);
}

.feedback-form__submit:hover {
  background: #d87d34;
}

.feedback-form__submit:hover::after {
  opacity: 1;
  transform: translate(0, 0);
}

.feedback-form__submit:hover::before {
  opacity: 1;
  transform: translate(0, 0);
}

.feedback-form__rules {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 1.2;
  margin-top: 32px;
}

.feedback-form__rules a {
  text-decoration: underline;
  color: inherit;
}

.feedback-form__rules a:hover {
  color: rgba(255, 255, 255, 1);
}
