.footer {
}

.footer-layout {
  display: flex;
  justify-content: space-between;
}

.footer-layout__first {
}

.footer-layout__second {
}

.footer-layout__third {
}

.footbar-layout {
  background: #383836;
  gap: 30px;
  padding: 12px 0;
}

.footbar-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footbar-layout__copyright {
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.footbar-layout__sitemap {
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-decoration: underline;
}

.footbar-layout__counters {
}

.footbar-layout__creator {
  display: flex;
  opacity: 0.8;
}

.footbar-layout__creator:hover {
  opacity: 1;
}

.footer-logo {
  display: block;
  width: 400px;
  filter: invert(0.05);
}

.footer-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer-nav li {
}

.footer-nav li a {
  font-size: 14px;
  color: rgb(19, 19, 19);
  text-decoration: underline;
  line-height: 1.333;
  display: inline-block;
  padding: 0 5px;
}

.footer-nav li a:hover {
  color: #fff;
  background: #0035bb;
  text-decoration: none;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  text-align: right;
  list-style: none;
}

.footer-links li {
  display: flex;
}

.footer-links a {
  font-size: 12px;
  color: rgb(19, 19, 19);
  text-decoration: underline;
  line-height: 1.333;
  display: inline-block;
  padding: 0 5px;
}

.footer-links a:hover {
  color: #fff;
  background: #0035bb;
  text-decoration: none;
}

.footer-notice {
  font-size: 11px;
  color: rgba(19, 19, 19, 0.82);
  line-height: 1.2;
  text-align: justify;
  width: min-content;
  margin-top: 24px;
  margin-left: auto;
  direction: rtl;
}

.footer-notice span {
  letter-spacing: 0.66em;
}

.footer-contacts {
  display: flex;
  gap: 48px;
  border-bottom: 1px solid #e1e5ee;
  padding: 10px 0;
}

.footer-contacts__item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-contacts__item-icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  color: #afadad;
  font-size: 40px;
}

.footer-contacts__item-body {
}

.footer-contacts__item-val {
  font-size: 16px;
  font-family: "Gilroy";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1;
}

.footer-contacts__item-desc {
  font-size: 11px;
  color: rgb(196, 196, 196);
  line-height: 1;
  margin-top: 2px;
}
