.geography {
  padding-top: 112px;
  padding-bottom: 214px;
}

.geography__title {
  margin-bottom: 128px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #333;
}

.geography-embla {
  position: relative;
}

.geography-embla__viewport {
  overflow: hidden;
}

.geography-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.geography-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 calc(100% / 3);
  min-width: 0;
  position: relative;
  aspect-ratio: 8 / 10;
}

.geography-embla__lightbox {
  position: absolute;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  left: 0;
  top: 8%;
  transition: 0.3s ease;
}

.geography-embla__slide.is-snapped .geography-embla__lightbox {
  top: 0;
  bottom: 0;
}

.geography-embla__slide.is-snapped
  + .geography-embla__slide
  .geography-embla__lightbox {
  top: auto;
  bottom: 8%;
}

.geography-embla__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.geography-embla__description {
  display: none;
}

.geography-prev {
  position: absolute;
}

.geography-next {
  position: absolute;
}
