.geography {
  padding-top: 112px;
  padding-bottom: 214px;
}

.geography__title {
  margin-bottom: 128px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #333;
}

.geography-embla {
  position: relative;
  filter: drop-shadow(0 8px 8px rgb(109, 121, 140));
}

.geography-embla__viewport {
  overflow: hidden;
}

.geography-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.geography-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 calc(100% / 3);
  min-width: 0;
  position: relative;
  aspect-ratio: 8 / 10;
  z-index: 10;
}

.geography-embla__slide.is-snapped {
  z-index: 20;
}

.geography-embla__lightbox {
  position: absolute;
  right: 0;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  left: 0;
  top: 0;
  transform: translateY(40px);
  transition: 0.5s ease;
}

.geography-embla__slide.is-snapped .geography-embla__lightbox {
  left: calc(100% / 3 * -1);
  right: calc(100% / 3 * -1);
  transform: translateY(0);
}

.geography-embla__slide.is-snapped
  + .geography-embla__slide
  .geography-embla__lightbox {
  transform: translateY(calc(100% / 3 * 2 - 40px));
}

.geography-embla__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.geography-embla__description {
  display: none;
}

.geography-embla__prev {
  position: absolute;
}

.geography-embla__next {
  position: absolute;
}

/* ----------- */

.geography-gl-main {
  position: relative;
}

.geography-gl-main__viewport {
  overflow: hidden;
}

.geography-gl-main__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.geography-gl-main__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
}

.geography-gl-main__lightbox {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.geography-gl-main__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.geography-gl-before {
  position: relative;
}

.geography-gl-before__viewport {
  overflow: hidden;
}

.geography-gl-before__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.geography-gl-before__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
}

.geography-gl-before__lightbox {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.geography-gl-before__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.geography-gl-after {
  position: relative;
}

.geography-gl-after__viewport {
  overflow: hidden;
}

.geography-gl-after__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.geography-gl-after__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
}

.geography-gl-after__lightbox {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.geography-gl-after__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
