.geography {
  padding-top: 112px;
  padding-bottom: 214px;
}

.geography__title {
  margin-bottom: 128px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #333;
}

.geography-embla {
  position: relative;
  filter: drop-shadow(0 8px 8px rgb(109, 121, 140));
}

.geography-embla__viewport {
  overflow: hidden;
}

.geography-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.geography-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 calc(100% / 3);
  min-width: 0;
  position: relative;
  aspect-ratio: 8 / 10;
  z-index: 10;
}

.geography-embla__slide.is-snapped {
  z-index: 20;
}

.geography-embla__lightbox {
  position: absolute;
  right: 0;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  left: 0;
  top: 0;
  transform: translateY(40px);
  transition: 0.5s ease;
}

.geography-embla__slide.is-snapped .geography-embla__lightbox {
  left: calc(100% / 3 * -1);
  right: calc(100% / 3 * -1);
  transform: translateY(0);
}

.geography-embla__slide.is-snapped
  + .geography-embla__slide
  .geography-embla__lightbox {
  transform: translateY(calc(100% / 3 * 2 - 40px));
}

.geography-embla__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.geography-embla__description {
  display: none;
}

.geography-embla__prev {
  position: absolute;
}

.geography-embla__next {
  position: absolute;
}

/* ----------- */

.geography-gl {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 40px);
}

.geography-gl-main {
  position: relative;
  grid-column: 4 / 10;
  grid-row: 1 / 13;
  z-index: 20;
  box-shadow: -1.097px 8.933px 15.3px 2.7px rgba(109, 121, 140, 0.54);
}

.geography-gl-main__viewport {
  overflow: hidden;
  height: 100%;
}

.geography-gl-main__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  height: 100%;
}

.geography-gl-main__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
  height: 100%;
}

.geography-gl-main__lightbox {
  display: block;
  width: 100%;
  height: 100%;
}

.geography-gl-main__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.geography-gl-main__prev {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 58.41px 0.59px rgba(0, 53, 187, 0.32);
  width: 56px;
  height: 56px;
  position: absolute;
  top: 50%;
  margin-top: -28px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.geography-gl-main__prev::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #464646;
  border-bottom: 2px solid #464646;
  transform: rotate(45deg);
}

.geography-gl-main__next {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 58.41px 0.59px rgba(0, 53, 187, 0.32);
  width: 56px;
  height: 56px;
  position: absolute;
  top: 50%;
  margin-top: -28px;
  right: 20px;
}

.geography-gl-main__next::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #464646;
  border-bottom: 2px solid #464646;
  transform: rotate(-45deg);
}

.geography-gl-before {
  position: relative;
  grid-column: 1 / 5;
  grid-row: 2 / 8;
  z-index: 10;
  box-shadow: -7.08px 10.903px 8.73px 0.27px rgba(109, 140, 127, 0.28);
}

.geography-gl-before__viewport {
  overflow: hidden;
  height: 100%;
}

.geography-gl-before__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  height: 100%;
}

.geography-gl-before__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
  height: 100%;
}

.geography-gl-before__lightbox {
  display: block;
  width: 100%;
  height: 100%;
}

.geography-gl-before__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.geography-gl-after {
  position: relative;
  grid-column: 9 / 13;
  grid-row: 6 / 12;
  z-index: 10;
  box-shadow: -7.08px 10.903px 8.73px 0.27px rgba(109, 140, 127, 0.28);
}

.geography-gl-after__viewport {
  overflow: hidden;
  height: 100%;
}

.geography-gl-after__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  height: 100%;
}

.geography-gl-after__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
  height: 100%;
}

.geography-gl-after__lightbox {
  display: block;
  width: 100%;
  height: 100%;
}

.geography-gl-after__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
