.geography {
  padding-top: 112px;
  padding-bottom: 214px;
}

.geography__title {
  margin-bottom: 128px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #333;
}

.geography-gl {
  position: relative;
}

.geography-gl__emblas {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 40px);
  filter: drop-shadow(0 6px 6px rgb(109, 121, 140));
  position: relative;
  z-index: 10;
}

.geography-gl-main {
  position: relative;
  grid-column: 4 / 10;
  grid-row: 1 / 13;
  z-index: 20;
  box-shadow: -1.097px 8.933px 15.3px 2.7px rgba(109, 121, 140, 0.54);
}

.geography-gl-main__viewport {
  overflow: hidden;
  height: 100%;
}

.geography-gl-main__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  height: 100%;
}

.geography-gl-main__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
  height: 100%;
}

.geography-gl-main__lightbox {
  display: block;
  width: 100%;
  height: 100%;
}

.geography-gl-main__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.geography-gl-main__prev {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 58.41px 0.59px rgba(0, 53, 187, 0.32);
  width: 56px;
  height: 56px;
  position: absolute;
  top: 50%;
  margin-top: -28px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.geography-gl-main__prev:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.geography-gl-main__prev::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #464646;
  border-bottom: 2px solid #464646;
  transform: rotate(45deg);
}

.geography-gl-main__next {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 58.41px 0.59px rgba(0, 53, 187, 0.32);
  width: 56px;
  height: 56px;
  position: absolute;
  top: 50%;
  margin-top: -28px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.geography-gl-main__next::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #464646;
  border-bottom: 2px solid #464646;
  transform: rotate(-45deg);
}

.geography-gl-main__next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.geography-gl-before {
  position: relative;
  grid-column: 1 / 5;
  grid-row: 2 / 8;
  z-index: 10;
  box-shadow: -7.08px 10.903px 8.73px 0.27px rgba(109, 140, 127, 0.28);
}

.geography-gl-before__viewport {
  overflow: hidden;
  height: 100%;
}

.geography-gl-before__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  height: 100%;
}

.geography-gl-before__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
  height: 100%;
}

.geography-gl-before__lightbox {
  display: block;
  width: 100%;
  height: 100%;
}

.geography-gl-before__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.geography-gl-after {
  position: relative;
  grid-column: 9 / 13;
  grid-row: 6 / 12;
  z-index: 10;
  box-shadow: -7.08px 10.903px 8.73px 0.27px rgba(109, 140, 127, 0.28);
}

.geography-gl-after__viewport {
  overflow: hidden;
  height: 100%;
}

.geography-gl-after__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  height: 100%;
}

.geography-gl-after__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  position: relative;
  height: 100%;
}

.geography-gl-after__lightbox {
  display: block;
  width: 100%;
  height: 100%;
}

.geography-gl-after__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.geography-gl-desc {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-100%, -50%);
  aspect-ratio: 1;
  width: 20%;
  z-index: 30;
}

.geography-gl::before {
  content: "";
  background: #0035bb;
  mix-blend-mode: multiply;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-100%, -50%);
  aspect-ratio: 1;
  width: 20%;
  z-index: 20;
}

.geography-gl-desc__viewport {
  overflow: hidden;
  height: 100%;
}

.geography-gl-desc__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  height: 100%;
}

.geography-gl-desc__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  display: flex;
}

.geography-gl-desc__content {
  padding: 40px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.667;
  display: block;
  text-decoration: none;
}
