.header {
  --color: 226, 251, 255;

  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0px);
  z-index: 100;
  transition: 0.3s ease;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -20;
  background: url("../images/header.jpg") no-repeat 50% 50%;
  background-size: cover;
  transition: 0.3s ease;
}

.header .container {
  @include below(md) {
    padding-left: calc(var(--container-padding) / 2);
    padding-right: calc(var(--container-padding) / 2);
  }
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background: #0c3057;
  opacity: 0.75;
  transition: 0.3s ease;
}

.header-anchor {
  position: relative;
  height: 0;
  width: 100%;
}

body:has(.intro) .header::before {
  display: none;
}

body:has(.intro) .header::after {
  opacity: 0;
}

.header:has([data-header-toggle="active"]),
.header[data-sticky-header="active"] {
  --color: 34, 34, 34;
  box-shadow: 0px 3px 6px 0px rgba(38, 70, 102, 0.16);
}

.header:has([data-header-toggle="active"])::after,
.header[data-sticky-header="active"]::after {
  background: #fff;
  opacity: 1;
}

.header:has([data-header-toggle="active"]) .header-logo,
.header[data-sticky-header="active"] .header-logo {
  filter: none;
  opacity: 1;
}

body:has(.intro) .header:has([data-header-toggle="active"])::after,
body:has(.intro) .header[data-sticky-header="active"]::after {
  opacity: 1;
}

.header-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.header-contacts {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @include below(xl) {
    gap: 0;
    flex-direction: column;
  }

  @include below(lg) {
    display: none;
  }
}

.header-contacts__schedule {
  font-size: 14px;
  line-height: 16px;
  color: rgba(var(--color), 0.65);
}

.header-contacts__address {
  font-size: 14px;
  line-height: 16px;
  color: rgba(var(--color), 0.65);
}

.header-contacts__address .icon {
  font-size: 24px;
  margin: -8px 0;

  @include below(xl) {
    display: none;
  }
}

.header-phones {
  display: flex;
  gap: 16px;

  @include below(md) {
    flex-grow: 1;
    justify-content: space-between;
    gap: 8px;
  }
}

.header-phones__item {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-phones__item-ico {
  display: flex;
  color: rgba(var(--color), 0.65);
  font-size: 24px;

  @include below(md) {
    font-size: 20px;
  }
}

.header-phones__item-num {
  color: rgb(var(--color));
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  font-weight: 700;

  @include below(md) {
    font-size: 14px;
  }
}

.header-callback {
  font-size: 14px;
  background: transparent;
  border: none;
  padding: 0;
  text-align: center;
  display: block;
  line-height: 32px;
  color: rgb(var(--color));
  font-weight: 500;
  white-space: nowrap;
  position: relative;
  cursor: pointer;

  @include below(md) {
    display: none;
  }
}

.header-callback::after {
  content: "";
  height: 2px;
  width: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: currentColor;
  transition: width 0.3s ease;
}

.header-callback:hover {
  color: #eb8a1c;
}

.header-callback:hover::after {
  width: 50px;
}

.header-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-top: 28px;
  padding-bottom: 20px;

  @include below(lg) {
    padding-top: 16px;
    padding-bottom: 8px;
  }
  @include below(md) {
    padding-top: 8px;
  }
}

.header-logo {
  display: flex;
  opacity: 0.74;
  filter: brightness(0) invert(1) brightness(1000%);
}

.header-logo:hover {
  opacity: 1;
}

.header-logo__image {
}

.header-toggle {
  font-size: 24px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color));
  padding: 0;
  background: transparent;
  border: none;
  border: 2px solid currentColor;

  @include above(lg) {
    display: none;
  }
}

.header-toggle:hover {
  color: #eb8a1c;
}

.header-toggle:not([data-header-toggle="active"]) .icon-close {
  display: none;
}

.header-toggle[data-header-toggle="active"] .icon-menu {
  display: none;
}

.header-menu {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;

  @include below(lg) {
    position: fixed;
    top: calc(
      var(--wp-admin--admin-bar--height, 0px) + var(--header-height) + 8px
    );
    left: 8px;
    right: 8px;
    bottom: 8px;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 16px;
    box-shadow: 0 3px 6px 0 rgba(38, 70, 102, 0.16);
    overflow: auto;
    display: none;

    .header-toggle[data-header-toggle="active"] + & {
      display: flex;
    }
  }
}

.header-menu > li {
  position: relative;

  @include below(lg) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
}

.header-menu > li > a {
  font-size: 18px;
  color: rgb(var(--color));
  text-decoration: none;
  line-height: 32px;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  font-weight: 500;
  position: relative;

  @include below(lg) {
    color: rgb(34, 34, 34);
  }
}

.header-menu > li > a::before {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  background: rgb(var(--color));
  transition: 0.3s ease;
}

.header-menu > li.current-menu-item > a::before {
  width: 36px;
  opacity: 1;
}

.header-menu > li.menu-item-has-children > a::after {
  content: "";
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(45deg);

  @include below(lg) {
    display: none;
  }
}

.header-menu > li > a:hover::before {
  opacity: 1;
  width: 50px;
  background: #eb8a1c;
}

.header-menu > li:hover > ul.sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.sub-menu {
  width: 260px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  margin: 0;
  position: absolute;
  top: calc(100% + 16px);
  left: calc(100% - 48px);
  transform: translateY(8px);
  list-style: none;
  padding: 16px 0;
  border-radius: 4px;
  background: #303437;

  @include below(lg) {
    visibility: visible;
    width: auto;
    opacity: 1;
    transform: none;
    padding: 0;
    position: relative;
    margin-top: 0;
    background: transparent;
    top: auto;
    left: auto;
  }
}

.sub-menu::before {
  content: "";
  height: 16px;
  left: 0;
  top: -16px;
  right: 0;
  position: absolute;

  @include below(lg) {
    display: none;
  }
}

.sub-menu::after {
  content: "";
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #303437;
  position: absolute;
  left: 24px;
  top: -20px;

  @include below(lg) {
    display: none;
  }
}

.sub-menu > li {
  display: block;
}

.sub-menu > li > a {
  display: block;
  line-height: 1.2;
  padding: 8px 24px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #808080;

  &:hover {
    color: #fff;
    background: #182475;
  }
}
