.header {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0px);
  z-index: 100;
  background-size: cover;
  background: #0c3057;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("../images/header.jpg") no-repeat 50% 50%;
  opacity: 0.5;
}

.header-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.header-contacts {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.header-contacts__schedule {
  font-size: 14px;
  line-height: 20px;
  color: rgba(226, 251, 255, 0.65);
}

.header-contacts__address {
  font-size: 14px;
  line-height: 20px;
  color: rgba(226, 251, 255, 0.65);
}

.header-contacts__address .icon {
  font-size: 24px;
  margin: -5px 0;
}

.header-phones {
  display: flex;
  gap: 16px;
}

.header-phones__item {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-phones__item-ico {
  display: flex;
  color: rgba(226, 251, 255, 0.65);
  font-size: 24px;
}

.header-phones__item-num {
  color: #e2fbff;
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  font-weight: 700;
}

.header-callback {
  font-size: 14px;
  background: transparent;
  border: none;
  padding: 0;
  text-align: center;
  display: block;
  line-height: 32px;
  color: #e2fbff;
  font-weight: 500;
  white-space: nowrap;
  position: relative;
  transition: 0.3s ease;
}

.header-callback::after {
  content: "";
  height: 2px;
  width: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2px;
  background: currentColor;
  transition: 0.3s ease;
}

.header-callback:hover {
  color: #eb8a1c;
}

.header-callback:hover::after {
  width: 50px;
}

.header-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo {
  display: flex;
  opacity: 0.74;
  transition: 0.3s ease;
}

.header-logo:hover {
  opacity: 1;
}

.header-logo__image {
}

.header-menu {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu li {
}

.header-menu li a {
  font-size: 18px;
  color: #e2fbff;
  text-decoration: none;
  line-height: 32px;
  display: block;
  white-space: nowrap;
  font-weight: 500;
  position: relative;
}

.header-menu li a::after {
  content: "";
  height: 2px;
  width: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: #eb8a1c;
  transition: 0.3s ease;
}

.header-menu li ul {
  display: none;
}
