.header {
  --color: 226, 251, 255;

  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0px);
  z-index: 100;
  transition: 0.3s ease;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -20;
  background: url("../images/header.jpg") no-repeat 50% 50%;
  background-size: cover;
  transition: 0.3s ease;
}

body:has(.intro) .header:not([data-sticky-header="active"])::before {
  display: none;
}

body:has(.intro) .header:not([data-sticky-header="active"])::after {
  opacity: 0;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background: #0c3057;
  opacity: 0.75;
  transition: 0.3s ease;
}

.header-anchor {
  position: relative;
  height: 0;
  width: 100%;
}

.header[data-sticky-header="active"] {
  --color: 34, 34, 34;
  box-shadow: 0px 3px 6px 0px rgba(38, 70, 102, 0.16);
}

.header[data-sticky-header="active"]::after {
  background: #fff;
  opacity: 1;
}

.header[data-sticky-header="active"] .header-logo {
  filter: none;
  opacity: 1;
}

.header-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.header-contacts {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @include below(xl) {
    gap: 0;
    flex-direction: column;
  }

  @include below(lg) {
    display: none;
  }
}

.header-contacts__schedule {
  font-size: 14px;
  line-height: 16px;
  color: rgba(var(--color), 0.65);
}

.header-contacts__address {
  font-size: 14px;
  line-height: 16px;
  color: rgba(var(--color), 0.65);
}

.header-contacts__address .icon {
  font-size: 24px;
  margin: -8px 0;

  @include below(xl) {
    display: none;
  }
}

.header-phones {
  display: flex;
  gap: 16px;
}

.header-phones__item {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-phones__item-ico {
  display: flex;
  color: rgba(var(--color), 0.65);
  font-size: 24px;
}

.header-phones__item-num {
  color: rgb(var(--color));
  font-size: 16px;
  line-height: 1;
  white-space: nowrap;
  font-weight: 700;
}

.header-callback {
  font-size: 14px;
  background: transparent;
  border: none;
  padding: 0;
  text-align: center;
  display: block;
  line-height: 32px;
  color: rgb(var(--color));
  font-weight: 500;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}

.header-callback::after {
  content: "";
  height: 2px;
  width: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: currentColor;
  transition: width 0.3s ease;
}

.header-callback:hover {
  color: #eb8a1c;
}

.header-callback:hover::after {
  width: 50px;
}

.header-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-top: 28px;
  padding-bottom: 20px;
}

.header-logo {
  display: flex;
  opacity: 0.74;
  filter: brightness(0) invert(1) brightness(1000%);
}

.header-logo:hover {
  opacity: 1;
}

.header-logo__image {
}

.header-toggle {
  font-size: 24px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0;
  background: transparent;
  border: none;

  @include above(lg) {
    display: none;
  }
}

.header-toggle:not([data-header-toggle="active"]) .icon-close {
  display: none;
}

.header-toggle[data-header-toggle="active"] .icon-menu {
  display: none;
}

.header-menu {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;

  @include below(lg) {
    position: fixed;
    top: calc(var(--wp-admin--admin-bar--height, 0px) + 112px + 8px);
    left: 8px;
    right: 8px;
    bottom: 8px;
    background: #fff;
    flex-direction: column;
    gap: 12px;
  }
}

.header-menu li {
}

.header-menu li a {
  font-size: 18px;
  color: rgb(var(--color));
  text-decoration: none;
  line-height: 32px;
  display: block;
  white-space: nowrap;
  font-weight: 500;
  position: relative;
}

.header-menu li a::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  background: rgb(var(--color));
  transition: 0.3s ease;
}

.header-menu li.current-menu-item a::after {
  width: 36px;
  opacity: 1;
}

.header-menu li a:hover::after {
  opacity: 1;
  width: 50px;
  background: #eb8a1c;
}

.header-menu li ul {
  display: none;
}
