.intro {
  position: relative;
  background: #0c3057;
  z-index: 50;
  padding-top: 74px;
}

.intro__video {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  object-fit: cover;
}

.intro__logo {
  display: flex;
  position: relative;
}

.intro__logo::before {
  content: "";
  position: absolute;
  right: -116px;
  top: 0;
  bottom: 0;
  left: calc(50% - 84px);
  background: #0035bb;
}

.intro__logo-img {
  width: 100%;
  height: auto;
}

.intro__discount {
}

.intro__order {
}

.intro__order-btn {
}

.intro__conditions {
}

.intro__texts {
}

.intro__text {
}

.intro__text-content {
}

.intro__text-desc {
}

.home-news {
  margin-top: 68px;
  margin-bottom: 68px;
  padding-bottom: 36px;
  border-bottom: 1px solid #e5e5e5;

  @include below(md) {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-bottom: 24px;
  }
}

.home-news__headline {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 36px;

  @include below(lg) {
    margin-bottom: 32px;
  }
  @include below(md) {
    margin-bottom: 24px;
    justify-content: flex-start;
  }
}

.home-news__headline-title {
  font-size: 42px;
  line-height: 1;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;

  @include below(lg) {
    font-size: 36px;
  }
  @include below(md) {
    font-size: 30px;
  }
}

.home-news__headline-all {
  font-size: 14px;
  color: rgb(116, 116, 116);
  font-weight: bold;
  line-height: 1.2;
  display: inline-flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    color: #f18b3a;
  }
  @include below(md) {
    gap: 8px;
  }
}

.home-news__headline-all::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(-45deg);
}

.home-news__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-top: -32px;
}

.home-news__item {
  width: 50%;
  padding-left: 32px;
  padding-top: 32px;

  @include below(md) {
    width: 100%;
  }
}
