.intro {
  position: relative;
  background: #0c3057;
  z-index: 50;
  padding-top: 74px;
  overflow: hidden;
}

.header-anchor + .intro {
  padding-top: calc(74px + 112px);
  margin-top: -112px;
}

.intro__video {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  object-fit: cover;
  opacity: 0.5;
}

.intro::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.intro__logo {
  display: flex;
  position: relative;
}

.intro__logo::before {
  content: "";
  position: absolute;
  right: -116px;
  top: 0;
  bottom: 0;
  left: calc(50% - 84px);
  background: rgba(0, 53, 187, 0.5);
  z-index: -1;
  mix-blend-mode: color-burn;
}

.intro__logo::after {
  content: "";
  position: absolute;
  right: -116px;
  top: 0;
  bottom: 0;
  left: calc(50% - 84px);
  background: rgba(0, 53, 187, 0.5);
  z-index: -1;
  backdrop-filter: blur(20px);
}

.intro__logo-img {
  width: 100%;
  height: auto;
}

.intro__discount {
  position: absolute;
  bottom: 260px;
  left: calc(50% + 150px);
  max-width: calc(50% - 150px);
  color: #fff;
  padding: 24px;
  border-radius: 32px 32px 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 1;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(81, 196, 173);
  background-color: rgb(44, 55, 67);
}

.intro__order {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro__order-btn {
  background: #f18b3a;
  width: 360px;
  height: 72px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
  letter-spacing: 0.025em;
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__order-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 36px solid #db9157;
  border-left: 36px solid transparent;
}

.intro__order-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 36px solid #db9157;
  border-left: 36px solid transparent;
}

.intro__order-btn:hover {
  background: #d87d34;
}

.intro__conditions {
  position: absolute;
  bottom: 60px;
  left: calc(50% + 212px);
  max-width: calc(50% - 212px);
  color: #fff;
  padding: 24px;
  border-radius: 32px 32px 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 1;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(81, 196, 173);
  background-color: rgb(44, 55, 67);
}

.intro__texts {
}

.intro__text {
}

.intro__text-content {
}

.intro__text-desc {
}

.home-news {
  margin-top: 68px;
  margin-bottom: 68px;
  padding-bottom: 36px;
  border-bottom: 1px solid #e5e5e5;

  @include below(md) {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-bottom: 24px;
  }
}

.home-news__headline {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 36px;

  @include below(lg) {
    margin-bottom: 32px;
  }
  @include below(md) {
    margin-bottom: 24px;
    justify-content: flex-start;
  }
}

.home-news__headline-title {
  font-size: 42px;
  line-height: 1;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;

  @include below(lg) {
    font-size: 36px;
  }
  @include below(md) {
    font-size: 30px;
  }
}

.home-news__headline-all {
  font-size: 14px;
  color: rgb(116, 116, 116);
  font-weight: bold;
  line-height: 1.2;
  display: inline-flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    color: #f18b3a;
  }
  @include below(md) {
    gap: 8px;
  }
}

.home-news__headline-all::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(-45deg);
}

.home-news__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-top: -32px;
}

.home-news__item {
  width: 50%;
  padding-left: 32px;
  padding-top: 32px;

  @include below(md) {
    width: 100%;
  }
}
