.news {
  padding-top: 96px;
  padding-bottom: 96px;

  @include below(md) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 96px;
}

.news-header::after {
  content: "";
  display: block;
}

.news-header__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #333;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include below(lg) {
    grid-template-columns: 1fr;
  }
}

.news-list .news-card:nth-child(2n) {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.news-list .news-card:nth-child(2n) .news-card__image {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.news-list .news-card:nth-child(2n) .news-card__content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  @include below(md) {
    grid-column: 1 / 3;
  }
}

.news-list .news-card:nth-child(2n) .news-card__desc {
  display: none;
}

.news-list .news-card:nth-child(2n) .news-card__content {
  background: transparent;
}

.news-list .news-card:nth-child(2n)::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #0035bb;
  mix-blend-mode: multiply;

  @include below(md) {
    left: 0;
  }
}

.news-list .news-card:nth-child(2n) .news-card__date {
  color: #fff;
}

.news-list .news-card:nth-child(2n) .news-card__title {
  color: #fff;
}

.news-list .news-card:nth-child(2n) .news-card__more {
  --text-color: #fff;
  --bg-color: #001562;
}

.news-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  position: relative;
  aspect-ratio: 1;
  z-index: 1;
}

.news-card__image {
  flex-grow: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: -2;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.news-card__content {
  display: flex;
  flex-direction: column;
  padding: 32px 36px;
  width: 100%;
  background: #f6f6f6;
}

.news-card__date {
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  margin-bottom: 12px;
}

.news-card__date::before {
  content: "[";
}

.news-card__date::after {
  content: "]";
}

.news-card__title {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.667;
  margin-bottom: 16px;
}

.news-card__space {
  flex-grow: 1;
}

.news-card__desc {
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  margin-bottom: 16px;
  max-height: 4.5em;
  overflow: hidden;

  @include below(md) {
    display: none;
  }
}

.news-card__more::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
