.page-headline {
  margin-bottom: 64px;
  display: flex;
  justify-content: flex-start;
  
  @include below(md) {
    margin-bottom: 48px;
  }
}

.page-headline__title {
  font-size: 38px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.368;
  padding: 42px;
  margin: 0;
  background: #0035bb;
  &::first-line {
    color: rgb(212, 224, 255);
  }
  @include below(md) {
    font-size: 24px;
    padding: 24px;
  }
}

.page-content {
}
