.partners {
  margin: 64px 0;
  position: relative;

  .swiper-wrapper {
    height: 480px;
  }
}

.partners__nav {
  position: absolute;
  right: 40px;
  top: -46px;
}

.partners-slide {
  height: 33.33%;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-slide_0 {
  height: 66.66%;
}

.partners-slide_6 {
  height: 66.66%;
}

// .partners-slide_1 {
//   height: 33.33%;
// }

// .partners-slide_2 {
//   height: 33.33%;
// }

// .partners-slide_3 {
//   height: 33.33%;
// }

.partners-slide_4 {
  // height: 66.66%;
}

// .partners-slide_5 {
//   height: 33.33%;
// }

// .partners-slide__grid {
//   display: grid;
// }

// .partners-slide__cell:nth-child(1) {
//   grid-column: 1 / 2;
//   grid-row: 1 / 3;
// }

// .partners-slide__cell:nth-child(2) {
//   grid-column: 2 / 3;
//   grid-row: 1 / 2;
// }

// .partners-slide__cell:nth-child(3) {
//   grid-column: 3 / 4;
//   grid-row: 1 / 2;
// }

// .partners-slide__cell:nth-child(4) {
//   grid-column: 2 / 3;
//   grid-row: 2 / 3;
// }

// .partners-slide__cell:nth-child(5) {
//   grid-column: 3 / 4;
//   grid-row: 2 / 4;
// }

// .partners-slide__cell:nth-child(6) {
//   grid-column: 1 / 2;
//   grid-row: 3 / 4;
// }

// .partners-slide__cell:nth-child(7) {
//   grid-column: 2 / 3;
//   grid-row: 3 / 4;
// }

.partners-slide__image {
  display: block;
  filter: grayscale(1);
  transition: .3s ease;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.partners-slide__image:hover {
  filter: grayscale(0);
}
