.partners {
  padding-top: 64px;
  padding-bottom: 64px;
  overflow: hidden;
}

.partners-header {
  display: flex;
  position: relative;
  margin-bottom: 64px;
}

.partners-header::before {
  content: "";
  background-color: rgb(231, 231, 231);
  position: absolute;
  width: 50%;
  height: 1px;
  top: 100%;
  left: 0;
}

.partners-header::after {
  content: "";
  background-color: rgb(231, 231, 231);
  position: absolute;
  width: 37px;
  height: 37px;
  top: 100%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.partners-header__title {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  background: #0035bb;
  padding: 40px;
  min-height: 192px;
  display: flex;
  align-items: center;
  min-width: 50%;
  letter-spacing: -0.005em;
  margin-left: auto;

  strong {
    color: #d4e0ff;
    font-weight: 700;
  }

  @include below(md) {
    width: 100%;
  }
}

.partners-embla {
  --slide-spacing: 20px;
  --slide-size: calc(100% / 5);

  position: relative;
  padding-left: 80px;
  padding-right: 80px;

  @include below(xl) {
    --slide-size: calc(100% / 4);
  }
  @include below(lg) {
    --slide-size: calc(100% / 3);
  }
  @include below(md) {
    --slide-size: calc(100% / 2);

    padding-left: 48px;
    padding-right: 48px;
  }
}

.partners-embla__viewport {
  overflow: hidden;
}

.partners-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.partners-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--slide-spacing);
}

.partners-embla__link {
  display: flex;
  filter: grayscale(50%);
  transition: 0.3s;
}

.partners-embla__link:hover {
  filter: grayscale(0);
}

.partners-embla__image {
  max-width: 180px;
  max-height: 120px;
  width: auto;
  height: auto;
}

.partners-embla__prev {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 58.41px 0.59px rgba(0, 53, 187, 0.32);
  width: 56px;
  height: 56px;
  position: absolute;
  top: 50%;
  margin-top: -28px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  &:disabled {
    display: none;
  }

  @include below(md) {
    width: 48px;
    height: 48px;
    margin-top: -24px;
    left: 0;
  }
}

.partners-embla__prev:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.partners-embla__prev::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #464646;
  border-bottom: 2px solid #464646;
  transform: rotate(45deg);
}

.partners-embla__next {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 58.41px 0.59px rgba(0, 53, 187, 0.32);
  width: 56px;
  height: 56px;
  position: absolute;
  top: 50%;
  margin-top: -28px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  &:disabled {
    display: none;
  }

  @include below(md) {
    width: 48px;
    height: 48px;
    margin-top: -24px;
    right: 0;
  }
}

.partners-embla__next::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #464646;
  border-bottom: 2px solid #464646;
  transform: rotate(-45deg);
}

.partners-embla__next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.block-partners {
  margin-top: 64px;
  margin-bottom: 64px;
  position: relative;

  .swiper {
    margin-left: -24px;
    margin-right: -24px;
  }

  .swiper-wrapper {
    height: 480px;
  }

  @include below(md) {
    margin-top: 48px;
    margin-bottom: 48px;

    .swiper {
      margin-left: -12px;
      margin-right: -12px;
    }

    .swiper-wrapper {
      height: 280px;
    }
  }
}

.block-partners::after {
  content: "";
  display: block;
  background-color: rgb(241, 139, 58);
  position: absolute;
  left: 100%;
  top: 100%;
  width: 45px;
  height: 41px;
}

.block-partners__nav {
  position: absolute;
  right: 0;
  top: -148px;

  @include below(md) {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
}

.block-partners-slide {
  height: 33.33%;
  // width: 33.33%;
  display: flex;
}

.block-partners-slide__inner {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include below(md) {
    padding: 12px;
  }
}

.block-partners-slide_0 .block-partners-slide__inner {
  height: 200%;
  align-self: flex-start;
}

.block-partners-slide_6 .block-partners-slide__inner {
  height: 200%;
  align-self: flex-end;
}

// .block-partners-slide_6 {
//   height: 66.66%;
// }

// .block-partners-slide_1 {
//   height: 33.33%;
// }

// .block-partners-slide_2 {
//   height: 33.33%;
// }

// .block-partners-slide_3 {
//   height: 33.33%;
// }

.block-partners-slide_4 {
  // height: 66.66%;
}

// .block-partners-slide_5 {
//   height: 33.33%;
// }

// .block-partners-slide__grid {
//   display: grid;
// }

// .block-partners-slide__cell:nth-child(1) {
//   grid-column: 1 / 2;
//   grid-row: 1 / 3;
// }

// .block-partners-slide__cell:nth-child(2) {
//   grid-column: 2 / 3;
//   grid-row: 1 / 2;
// }

// .block-partners-slide__cell:nth-child(3) {
//   grid-column: 3 / 4;
//   grid-row: 1 / 2;
// }

// .block-partners-slide__cell:nth-child(4) {
//   grid-column: 2 / 3;
//   grid-row: 2 / 3;
// }

// .block-partners-slide__cell:nth-child(5) {
//   grid-column: 3 / 4;
//   grid-row: 2 / 4;
// }

// .block-partners-slide__cell:nth-child(6) {
//   grid-column: 1 / 2;
//   grid-row: 3 / 4;
// }

// .block-partners-slide__cell:nth-child(7) {
//   grid-column: 2 / 3;
//   grid-row: 3 / 4;
// }

.block-partners-slide__image {
  display: block;
  filter: grayscale(1);
  transition: 0.3s ease;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.block-partners-slide__image:hover {
  filter: grayscale(0);
}
