.photogallery {
}

.photogallery-header {
}

.photogallery-header__title {
}

.photogallery-header__controls {
}

.photogallery-controls {
}

.photogallery-controls__prev {
}

.photogallery-controls__next {
}

.photogallery-embla {
}

.photogallery-embla__viewport {
  overflow: hidden;
}

.photogallery-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.photogallery-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  display: flex;
}

.photogallery-embla__image {
}
