.photogallery {
  overflow: hidden;
}

.photogallery-header {
  display: flex;
}

.photogallery-header__title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  background: #0035bb;
  padding: 0 40px;
  min-height: 192px;
  display: flex;
  align-items: center;
  width: 50%;
  letter-spacing: -0.005em;

  strong {
    color: rgb(212, 224, 255);
    font-weight: bold;
  }
}

.photogallery-header__controls {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photogallery-controls {
  display: flex;
  gap: 40px;
}

.photogallery-controls__prev,
.photogallery-controls__next {
  font-size: 18px;
  color: #d3d3d3;
  font-weight: bold;
  line-height: 2;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.photogallery-controls__prev:hover,
.photogallery-controls__next:hover {
  color: rgb(116, 116, 116);
}

.photogallery-controls__next span:nth-child(2) {
  width: 0;
  height: 20px;
  position: relative;
}

.photogallery-controls__next span:nth-child(2)::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: -12px;
  transform: rotate(-45deg);
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transition: 0.3s ease;
}

.photogallery-controls__next:hover span:nth-child(2)::after {
  left: 44px;
}

.photogallery-controls__next span:nth-child(2)::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  top: 9px;
  left: 0;
  background: currentColor;
  transition: 0.3s ease;
}

.photogallery-controls__next:hover span:nth-child(2)::before {
  width: 56px;
}

.photogallery-controls__prev span:nth-child(1) {
  width: 0;
  height: 20px;
  position: relative;
}

.photogallery-controls__prev span:nth-child(1)::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  right: -12px;
  transform: rotate(45deg);
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transition: 0.3s ease;
}

.photogallery-controls__prev:hover span:nth-child(1)::after {
  right: 44px;
}

.photogallery-controls__prev span:nth-child(1)::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  top: 9px;
  right: 0;
  background: currentColor;
  transition: 0.3s ease;
}

.photogallery-controls__prev:hover span:nth-child(1)::before {
  width: 56px;
}

.photogallery-embla {
}

.photogallery-embla__viewport {
  overflow: hidden;
}

.photogallery-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.photogallery-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: calc(100vw * (480 / 1920)) calc(100vw * (480 / 1920));
}

.photogallery-embla__image-wrap {
  position: relative;
}

.photogallery-embla__image-wrap:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.photogallery-embla__image-wrap:nth-child(1) img {
  filter: grayscale(100%) brightness(125%);
  opacity: 0.8;
  transition: 0.3s ease;
}

.photogallery-embla__image-wrap:nth-child(1):hover img {
  filter: grayscale(0%) brightness(100%);
  opacity: 1;
}

.photogallery-embla__image-wrap:nth-child(2) {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.photogallery-embla__image-wrap:nth-child(2) img {
  opacity: 0.8;
  filter: grayscale(100%) brightness(125%);
  transition: 0.3s ease;
}

.photogallery-embla__image-wrap:nth-child(2):hover img {
  filter: grayscale(0%) brightness(100%);
  opacity: 1;
}

.photogallery-embla__image-wrap:nth-child(2)::after {
  content: "";
  background: #0035bb;
  left: 0;
  top: 0;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  transition: 0.3s ease;
}

.photogallery-embla__image-wrap:nth-child(2):hover::after {
  opacity: 0;
}

.photogallery-embla__image-wrap:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.photogallery-embla__image-wrap:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.photogallery-embla__image-wrap:nth-child(4)::after {
  content: "";
  background: #0035bb;
  left: 0;
  top: 0;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  transition: 0.3s ease;
}

.photogallery-embla__image-wrap:nth-child(4):hover::after {
  opacity: 0;
}

.photogallery-embla__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
