.photogallery {
}

.photogallery-header {
}

.photogallery-header__title {
}

.photogallery-header__controls {
}

.photogallery-controls {
}

.photogallery-controls__prev {
}

.photogallery-controls__next {
}

.photogallery-embla {
}

.photogallery-embla__viewport {
  overflow: hidden;
}

.photogallery-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.photogallery-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 480px 480px;
}

.photogallery-embla__image {
  display: block;
  object-fit: cover;
}

.photogallery-embla__image:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.photogallery-embla__image:nth-child(2) {
  grid-column: 3 / 5;
}

.photogallery-embla__image:nth-child(3) {
}

.photogallery-embla__image:nth-child(4) {
}
