.photogallery {
}

.photogallery-header {
}

.photogallery-header__title {
}

.photogallery-header__controls {
}

.photogallery-controls {
}

.photogallery-controls__prev {
}

.photogallery-controls__next {
}

.photogallery-embla {
}

.photogallery-embla__viewport {
}

.photogallery-embla__container {
}

.photogallery-embla__slide {
}
