.photogallery {
}

.photogallery-header {
}

.photogallery-header__title {
}

.photogallery-header__controls {
}

.photogallery-controls {
}

.photogallery-controls__prev {
}

.photogallery-controls__next {
}

.photogallery-embla {
}

.photogallery-embla__viewport {
  overflow: hidden;
}

.photogallery-embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.photogallery-embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: calc(100vw * (480 / 1920)) calc(100vw * (480 / 1920));
}

.photogallery-embla__image-wrap {
  position: relative;
}

.photogallery-embla__image-wrap:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.photogallery-embla__image-wrap:nth-child(2) {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.photogallery-embla__image-wrap:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.photogallery-embla__image-wrap:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.photogallery-embla__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
