.products {
  padding-top: 96px;
  padding-bottom: 96px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;

  @include below(lg) {
    gap: 12px;
  }

  @include below(md) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.products-grid__cell {
}

.products-grid__cell--wide {
  grid-column: span 2 / span 2;

  @include below(md) {
    grid-column: span 1 / span 1;
  }
}

.products-item {
  position: relative;
  background: #efefef;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 32px 36px;
  aspect-ratio: 400 / 260;

  @include below(lg) {
    padding: 16px 18px;
  }
}

.products-item--blue {
  background: #0035bb;
}

.products-item__title {
  width: 100%;
  color: #333333;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 32px;

  .products-item--blue & {
    color: #fff;
  }

  @include below(lg) {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.products-item__image {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: block;
  width: 120px;
  height: 120px;
  object-fit: contain;

  @include below(lg) {
    right: 8px;
    bottom: 8px;
  }
}

.products-item__section {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #333333;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.75;

  .products-item--blue & {
    color: #fff;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }

  @include below(lg) {
    font-size: 14px;
  }
}

.products-item__section span:nth-child(1) {
  position: relative;
}

.products-item__section span:nth-child(1)::after {
  content: "";
  position: absolute;
  left: -6px;
  bottom: 0;
  right: -6px;
  height: 0;
  background: #c0d2ff;
  transition: 0.3s ease;
}

.products-item__section:hover span:nth-child(1)::after {
  height: 11px;
}

.products-item__section span:nth-child(2) {
  position: relative;
  width: 16px;
  height: 16px;
}

.products-item__section span:nth-child(2)::before {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 7px;
  background: #858586;
  transition: 0.3s ease;
}

.products-item__section:hover span:nth-child(2)::before {
  width: 24px;
}

.products-item__section span:nth-child(2)::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 12px;
  top: 2px;
  transform: rotate(-45deg);
  border-right: 2px solid #858586;
  border-bottom: 2px solid #858586;
  transition: 0.3s ease;
}

.products-item__section:hover span:nth-child(2)::after {
  left: 20px;
}
