.products {
  padding-top: 96px;
  padding-bottom: 96px;

  @include below(md) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.products__title {
  margin-bottom: 1.5em;
  padding-left: 1.75em;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #333;
  position: relative;
}

.products__title::before {
  content: "";
  background: #0035bb;
  width: 1em;
  height: 1em;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.products-grid {
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include below(lg) {
    grid-template-rows: repeat(3, 250px);
    grid-template-columns: repeat(2, 1fr);
  }

  @include below(md) {
    grid-template-rows: repeat(5, 250px);
    grid-template-columns: repeat(1, 1fr);
  }
}

.products-grid__cell {
}

.products-grid__cell--calc {
  grid-column: 1 / 3;

  @include below(lg) {
    grid-row: 3 / 4;
  }
  @include below(md) {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
}

.products-item {
  position: relative;
  background: #efefef;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  min-height: 100%;
  flex-direction: column;

  @include below(xl) {
    padding: 36px;
  }

  @include below(md) {
    padding: 32px;
  }
}

.products-item--blue {
  background: #0035bb;
}

.products-item__title {
  width: 100%;
  color: #333333;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1em;

  strong {
    font-weight: 500;
  }

  .products-item--blue & {
    color: #fff;
  }
}

.products-item__image {
  position: absolute;
  right: 24px;
  bottom: 24px;
  display: block;
  width: 96px;
  height: 96px;
  object-fit: contain;

  @include below(xl) {
    right: 16px;
    bottom: 16px;
  }
}

.products-item--blue .more-link {
  --text-color: #fff;
  --bg-color: #001562;
}
