.products {
  padding-top: 96px;
  padding-bottom: 96px;
}

.products__title {
  margin-bottom: 44px;
  padding-left: 50px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #333;
  position: relative;
}

.products__title::before {
  content: "";
  background: #0035bb;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
}

.products-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include below(lg) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  @include below(md) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.products-grid__cell {
}

.products-grid__cell--wide {
  grid-column: span 2 / span 2;

  @include below(lg) {
    grid-row: 3 / 4;
  }
}

.products-item {
  position: relative;
  background: #efefef;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  min-height: 250px;
  flex-direction: column;

  @include below(xl) {
    zoom: 0.9;
  }
}

.products-item--blue {
  background: #0035bb;
}

.products-item__title {
  width: 100%;
  color: #333333;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 32px;

  strong {
    font-weight: 500;
  }

  .products-item--blue & {
    color: #fff;
  }
}

.products-item__image {
  position: absolute;
  right: 24px;
  bottom: 24px;
  display: block;
  width: 96px;
  height: 96px;
  object-fit: contain;
}

.products-item__section {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #333333;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;

  .products-item--blue & {
    color: #fff;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
}

.products-item__section span:nth-child(1) {
  position: relative;
  z-index: 1;
}

.products-item__section span:nth-child(1)::after {
  content: "";
  position: absolute;
  left: -6px;
  bottom: 0;
  right: -6px;
  height: 0;
  background: #c0d2ff;
  transition: 0.3s ease;
  z-index: -1;
}

.products-item--blue .products-item__section span:nth-child(1)::after {
  background: #001562;
}

.products-item__section:hover span:nth-child(1)::after {
  height: 11px;
}

.products-item__section span:nth-child(2) {
  position: relative;
  width: 16px;
  height: 16px;
  color: #333;
  opacity: 0.5;
  transition: 0.3s ease;
}

.products-item--blue .products-item__section span:nth-child(2) {
  color: #fff;
}

.products-item__section:hover span:nth-child(2) {
  opacity: 1;
}

.products-item__section span:nth-child(2)::before {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 7px;
  background: currentColor;
  transition: 0.3s ease;
}

.products-item__section:hover span:nth-child(2)::before {
  width: 24px;
}

.products-item__section span:nth-child(2)::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 5px;
  top: 3px;
  position: absolute;
  transform: rotate(-45deg);
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  opacity: 0.5;
  transition: 0.3s ease;
}

.products-item__section:hover span:nth-child(2)::after {
  left: 13px;
  opacity: 1;
}
