.services {
  overflow: hidden;
  padding-top: 128px;
}

.services__title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  background: #0035bb;
  padding: 40px;
  min-height: 192px;
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 50%;
  letter-spacing: -0.005em;

  strong {
    color: rgb(212, 224, 255);
    font-weight: bold;
  }

  @include below(md) {
    width: 100%;
  }
}

.products-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include below(lg) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  @include below(md) {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}

.products-grid__cell {
}
