.services {
  overflow: hidden;
  padding-top: 128px;
  padding-bottom: 128px;
  position: relative;
  z-index: 1;

  @include below(md) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.services::before {
  content: "";
  position: absolute;
  top: 216px;
  left: 128px;
  left: calc(100vw * (128 / 1920));
  width: 50vw;
  aspect-ratio: 1204 / 285;
  background: url("../images/big-white-logo.png") no-repeat 50% 50%;
  background-size: cover;
  z-index: -1;
  filter: invert(0.05);
}

.services::after {
  content: "";
  background: #e7e7e7;
  position: absolute;
  width: 54px;
  height: 54px;
  bottom: 8px;
  left: 50%;
  transform: translateX(calc(100vw * (312 / 1920) * -1));
}

.services__title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  background: #0035bb;
  padding: 40px;
  min-height: 192px;
  display: flex;
  align-items: center;
  width: 50%;
  letter-spacing: -0.005em;
  margin-left: auto;
  margin-bottom: 96px;

  strong {
    color: rgb(212, 224, 255);
    font-weight: bold;
  }

  @include below(lg) {
    margin-bottom: 64px;
  }

  @include below(md) {
    margin-bottom: 40px;
    width: 100%;
  }
}

.services-grid {
  display: grid;
  grid-auto-rows: 140px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include below(xl) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include below(md) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.services-grid__cell {
  grid-row: span 2;
}

.services-item {
  position: relative;
  background: #efefef;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  min-height: 100%;
  flex-direction: column;
  z-index: 1;

  @include below(xl) {
    padding: 36px;
  }

  @include below(md) {
    padding: 32px;
  }
}

.services-item__space {
}

.services-item__title {
  width: 100%;
  color: #333333;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1em;

  strong {
    font-weight: 500;
  }
}

.services-grid__cell:nth-child(1) {
  @include above(xl) {
    grid-row: span 3;
  }
}

.services-grid__cell:nth-child(4) {
  @include above(xl) {
    grid-column: span 2;
  }
}

.services-grid__cell:nth-child(4) .services-item__title {
  color: #fff;
}

.services-grid__cell:nth-child(4) .more-link {
  --text-color: #fff;
  --bg-color: #001562;
}

.services-grid__cell:nth-child(4) .services-item::before {
  content: "";
  background: url("../images/lab-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.services-grid__cell:nth-child(4) .services-item::after {
  content: "";
  background: linear-gradient(
    135deg,
    rgba(0, 53, 187, 1) 20%,
    rgba(0, 53, 187, 0) 60%
  );
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
